# Java and general build artifacts
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.log
*.ctxt
.mtj.tmp/
# JVM crash logs
hs_err_pid*
replay_pid*

# Node.js
node_modules/
.env
package-lock.json
yarn.lock
pnpm-lock.yaml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# TypeScript
*.tsbuildinfo

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
.mypy_cache/
.pytest_cache/

# Rust
/target/
Cargo.lock
.cargo/

# Go
/bin/
*.exe
*.test
*.out
coverage.*

# IDE settings
*.iml
.idea/
.vscode/

# Maven / Gradle
.mvn/
settings.xml
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
pom.xml.bak

# Gradle
.gradle/
build/

# Others
.DS_Store
Thumbs.db
